.book-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 20px;
  transition: transform 0.3s ease;
  padding: 10px;
}

.book-card:hover {
  transform: scale(1.02);
}

.book-image {
  width: 100%;
  min-height: 180px;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #ddd;
  
}

.book-details {
  padding: 1px;
}

.book-title {
  font-size: 23px;
  color: rgb(70, 126, 142);
  margin-bottom: 8px;
  font-weight: bold;
}

.book-note {
  font-style: italic;
  color: #444;
  margin-top: 8px;
}

.book-date {
  font-size: 0.85rem;
  color: gray;
  margin-top: 10px;
}
.bookDetail{
    margin: 6px;
    font-size: 16px;
}
.category{
    border-radius: 10px;
    border: none;
    background-color: rgba(68, 141, 161, 0.399);
    padding: 5px;
}
.cart-button {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  display: block;
  margin: -15px auto 0 auto; /* רווח מהתמונה + מרכז אופקי */
}


.cart-button:hover {
  background-color: #000;
}
